.loading-container {
    min-height: 100vh;
    padding: 80px 40px 40px 40px;
    border: 1px solid red;
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 10px;
}
.element-container {
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgb(38, 37, 37);
}