.App {
    background-color: var(--bg-color);
}

.comp-container {
    min-height: 100vh;
    padding: 80px 40px 40px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 10px;
}
.ele-container {
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}